<form class="form" #fNumero="ngForm" novalidate>
    <div class="tipo form-horizontal">
        <div class="form-group">
            <label class="label-required col-sm-4 control-label">Obligatoria: </label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input class="oblig-si" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="true" required/> Sí
                </label>
        
                <label class="radio-inline">
                    <input class="oblig-no" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="false"/> No
                </label>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': minimo.errors?.max || minimo.hasError('required') }">
            <label for="minimo" class="label-required control-label col-sm-4">Mínimo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="minimo" name="minimo" [(ngModel)]="tipo.Minimo" #minimo="ngModel" 
                    [max]="tipo?.Maximo" [attr.max]="tipo?.Maximo" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="minimo.errors?.max || minimo.hasError('required')" class="help-block">Valor mínimo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': maximo.errors?.min || maximo.hasError('required') }">
            <label for="maximo" class="label-required control-label col-sm-4">Máximo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="maximo" name="maximo" [(ngModel)]="tipo.Maximo" #maximo="ngModel" 
                    [min]="tipo?.Minimo" [attr.min]="tipo?.Minimo" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="maximo.errors?.min || maximo.hasError('required')" class="help-block">Valor máximo incorrecto</div>
            </div>
        </div>

        <div class="form-group">
            <label class="label-required col-sm-4 control-label">Decimales: </label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input type="radio" id="dec-si" name="dec" [(ngModel)]="decimales" #dec="ngModel" [value]="true"/> Sí
                </label>

                <label class="radio-inline">
                    <input type="radio" id="dec-no" name="dec" [(ngModel)]="decimales" #dec="ngModel" [value]="false"/> No
                </label>

                <div class="help-block">* En caso afirmativo, el número de decimales es 2</div>
            </div>
        </div>
    </div>
</form>