<div class="form-group">
    <label class="col-sm-4 control-label label-required">Obligatoria: </label>
    <div class="col-sm-8">
        <label class="radio-inline">
            <input class="oblig-si" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="true" required/> Sí
        </label>

        <label class="radio-inline">
            <input class="oblig-no" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="false"/> No
        </label>
    </div>
</div>

<div class="form-horizontal tipo" [formGroup]="etiquetasForm">
    <div formArrayName="Etiquetas">
        <div class="form-group">
            <label for="etiq-nombre-bt" class="control-label col-sm-4 label-required">Etiquetas:</label>
            <div class="col-sm-8">
                <button class="btn btn-default" id="addEtiqueta" [disabled]="etiquetasForm.invalid" (click)="addEtiqueta()" type="button"
                    data-toggle="tooltip" title="Añade una nueva etiqueta">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </div>
        </div>
        
        <div *ngFor="let nombre of getEtiquetas.controls; let j = index">
            <div [formGroupName]="j" >
                <div class="form-group">
                    <label for="etiq-nombre-{{j}}" class="control-label col-sm-4"></label>
                    <div class="col-sm-8">
                        <div class="input-group">
                            <input class="form-control" type="text" name="etiq-nombre-{{j}}" id="etiq-nombre-{{j}}" required
                                (change)="updateEtiqueta($event.target.value, j)" placeholder="Introduzca el nombre..." formControlName="Nombre"/>

                            <span class="input-group-btn">
                                <button class="btn btn-secondary" id="etiq-borrar-{{j}}" (click)="removeEtiqueta(j)" type="button"
                                    *ngIf="getEtiquetas.controls.length > 1" data-toggle="tooltip" title="Elimina la etiqueta">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>

                                <button class="invisible-bt" *ngIf="getEtiquetas.controls.length <= 1"></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>