<cabecera [ref]="ref"></cabecera>

<nav class="navbar navbar-inverse navbar-static-top">
    <div class="container-fluid">
        <button type="button" class="navbar-left navbar-toggle collapsed" data-toggle="collapse" data-target="#menu" aria-expanded="false">
            <span class="sr-only">Menú</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>

        <ul class="nav navbar-nav navbar-right">
            <li><a [routerLink]="['/login']" id="logout" data-toggle="tooltip" title="Cerrar sesión en el sistema">
                <span class="glyphicon glyphicon-log-out"></span> Salir</a></li>
        </ul>
    </div>
</nav>

<div class="container-fluid" id="cuerpoPagina">
    <div class="row content">
        <div class="col-sm-2">
            <div class="sidenav collapse navbar-collapse" id="menu">
                <ul class="nav nav-pills nav-stacked">
                    <li [routerLinkActive]="['active']" data-toggle="tooltip" title="Pantalla de inicio">
                        <a [routerLink]="['home']"><span class="glyphicon glyphicon-home"></span> Inicio</a></li>
                    <li [routerLinkActive]="['active']" data-toggle="tooltip" title="Aquí puede gestionar sus datos personales">
                        <a [routerLink]="['perfil']" id="perfil"><span class="glyphicon glyphicon-cog"></span> Perfil</a></li>
                    <li [routerLinkActive]="['active']" data-toggle="tooltip" title="Aquí puede gestionar sus cuestionarios">
                        <a [routerLink]="['cuestionarios']" id="cuestionarios"><span class="glyphicon glyphicon-book"></span> Cuestionarios</a></li>
                    <li [routerLinkActive]="['active']" data-toggle="tooltip" title="Aquí puede gestionar sus usuarios genéricos">
                        <a [routerLink]="['genericos']" id="genericos"><span class="glyphicon glyphicon-user"></span> Usuarios</a></li>
                </ul>
            </div>
        </div>
    
        <div class="col-sm-10">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
