<p class="ubicacion"><b>Usted está en:</b> <a (click)="cancelar()">Cuestionarios</a> >> <a routerLink="/user/cuestionarios/cuestionario/preguntas">Crear (paso 2/2)</a> >> Ordenar</p>

<h2>Preguntas de {{cuestionario?.Titulo}} <a (click)="mostrarAyuda()" data-toggle="tooltip" title="Pulse para mostrar la ayuda">
        <span class="glyphicon glyphicon-question-sign"></span></a></h2> 

<div class="panel panel-info" *ngIf="ayuda">
    <div class="panel-body">
        <p class="justificar">
            Aquí puede ordenar tanto los bloques como las preguntas del cuestionario simplemente arrastrando las filas de la tabla.<br/>
            No puede cambiar las preguntas de bloque desde aquí.
        </p>
    </div>
</div>

<kendo-grid class="tablaOrdenar" [data]="gridData" [groupable]="true" [group]="groups">
    <kendo-grid-messages noRecords="No hay datos"></kendo-grid-messages>
    <kendo-grid-column field="Posicion" title="Orden" [width]="60"></kendo-grid-column>
    <kendo-grid-column field="FormatEnunciado" title="Enunciado" [width]="1000"></kendo-grid-column>
    <kendo-grid-column field="Tipos" title="Tipos de respuesta"></kendo-grid-column>

    <kendo-grid-column field="Header" hidden="true">
        <ng-template kendoGridGroupHeaderTemplate let-value="value">
            {{value}}
        </ng-template>
    </kendo-grid-column>
</kendo-grid>

<div class="form-group">
    <button type="button" class="btn btn-default pull-right options" routerLink="/user/cuestionarios/cuestionario/preguntas" (click)="volverPreguntas()">
        <span class="glyphicon glyphicon-arrow-left"></span> Atrás</button>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>
