<p class="ubicacion"><b>Usted está en:</b> Inicio</p>

<h1>¡Bienvenid@, {{currentUser?.Nombre}}!</h1>
<p class="justificar">
    Ahora mismo se encuentra en la ventana principal del {{currentStatus}}. Si necesita ayuda en alguna de las páginas, pulse el símbolo <span class="glyphicon glyphicon-question-sign"></span> para desplegarla y púlselo de nuevo para cerrarla.
    <br/>
    <br/>
    Dispone de las siguientes opciones, accesibles desde el menú lateral de la izquierda:
</p>
<div *ngIf="isAdmin">
    <ul>
        <li><b>Inicio:</b> Para volver a la página actual.</li>
        <li><b>Perfil:</b> Ver y actualizar sus datos personales.</li>
        <li><b>Cuestionarios:</b> Ver los cuestionarios del sistema, además de exportarlos en PDF y descargar sus respuestas en CSV.</li>
        <li><b>Usuarios:</b>
            <ul>
                <li><b>Genéricos:</b> Ver una lista de todos los usuarios genéricos del sistema.</li>
                <li><b>Expertos:</b> Ver, aceptar y eliminar usuarios expertos del sistema.</li>
            </ul>
        </li>
    </ul>
</div>
<div *ngIf="!isAdmin">
    <ul>
        <li><b>Inicio:</b> Para volver a la página actual.</li>
        <li><b>Perfil:</b> Ver y actualizar sus datos personales.</li>
        <li><b>Cuestionarios:</b> Crear nuevos cuestionarios, visualizarlos, editarlos, eliminarlos y gestionar sus modelos.</li>
        <li><b>Usuarios:</b> Crear nuevos usuarios genéricos para acceder a sus cuestionarios, además de editarlos, eliminarlos y ver un listado con todos los disponibles en el sistema.</li>
    </ul>
</div>