.dropdown:hover .dropdown-menu {
  display: block;
}

#cuerpoPagina {
    margin: 1%;
}

.navbar-toggle.navbar-left {
    float: left;
    margin-left: 10px;
}

.navbar-collapse.in {
    overflow: visible;
}

@media only screen and (max-width: 769px) {
    .navbar-text {
        display: inline-block;
    }

    .navbar-right {
        float: right;
    }
}