<cabecera [ref]="ref"></cabecera>

<div class="container">
    <div class="col-sm-6" id="zonaExperto">
        <h2 translate>zonaEx</h2>
        <form (ngSubmit)="fExperto.form.valid && loginExperto()" #fExperto="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': experto?.touched && !experto?.valid }">
                <label class="label-required" for="experto" translate>usuario</label>
                <input type="text" class="form-control" id="experto" name="experto" [(ngModel)]="model.experto" #experto="ngModel" 
                    required data-toggle="tooltip" title="{{ 'usuarioPh' | translate }}" (click)="resetFGenerico()"/>
                <div *ngIf="experto?.touched && !experto?.valid" class="help-block" translate>usuarioRq</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': eContrasena.touched && !eContrasena.valid }">
                <label class="label-required" for="eContrasena" translate>contrasena</label>
                <input type="password" class="form-control" id="eContrasena" name="eContrasena" [(ngModel)]="model.eContrasena" #eContrasena="ngModel" 
                    required data-toggle="tooltip" title="{{ 'contrasenaPh' | translate }}" (click)="resetFGenerico()"/>
                <div *ngIf="eContrasena.touched && !eContrasena.valid" class="help-block" translate>contrasenaRq</div>
            </div>
            <div class="form-group">
                <button type="submit" id="loginExperto" class="btn btn-success" [disabled]="!fExperto.form.valid"
                    data-toggle="tooltip" title="{{ 'loginExPh' | translate }}" translate>login</button>
                <a [routerLink]="['/registro']" class="btn btn-link" data-toggle="tooltip"  title="{{ 'registroPh' | translate }}" translate>registroBt</a>
            </div>
        </form>
    </div>

    <div class="col-sm-6" id="zonaGenerico">
        <h2 translate>zonaGen</h2>
        <form (ngSubmit)="fGenerico.form.valid && loginGenerico()" #fGenerico="ngForm" novalidate>
            <div class="form-group" [ngClass]="{ 'has-error': generico?.touched && !generico?.valid }">
                <label class="label-required" for="generico" translate>usuario</label>
                <input type="text" class="form-control" id="generico" name="generico" [(ngModel)]="model.generico" #generico="ngModel" 
                    required data-toggle="tooltip"  title="{{ 'usuarioPhGen' | translate }}" (click)="resetFExperto()" (blur)="filtrarCuestionarios()"/>
                <div *ngIf="generico?.touched && !generico?.valid" class="help-block" translate>usuarioRq</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': gContrasena.touched && !gContrasena.valid }">
                <label class="label-required" for="gContrasena" translate>contrasena</label>
                <input type="password" class="form-control" id="gContrasena" name="gContrasena" [(ngModel)]="model.gContrasena" #gContrasena="ngModel"
                    required data-toggle="tooltip"  title="{{ 'contrasenaPhGen' | translate }}" (click)="resetFExperto()"/>
                <div *ngIf="gContrasena.touched && !gContrasena.valid" class="help-block" translate>contrasenaRq</div>
            </div>
            <div class="form-group" [ngClass]="{ 'has-error': cuestionario?.touched && !cuestionario?.valid }">
                <label class="label-required" for="cuestionario" translate>cuestionario</label>
                <select class="form-control" id="cuestionario" name="cuestionario" [(ngModel)]="model.cuestionario" #cuestionario="ngModel" 
                    required data-toggle="tooltip"  title="{{ 'cuestionarioPh' | translate }}" (click)="resetFExperto()">
                    <option disabled value="" translate> cuestionarioSelPh </option>
                    <option *ngFor="let cuest of cuestionariosFilter | sort: 'Titulo'" [value]="cuest?.ID" id="{{cuest?.ID}}">{{cuest?.Titulo}}</option>
                </select>
                <div *ngIf="cuestionario?.touched && !cuestionario?.valid" class="help-block" translate>cuestionarioRq</div>
            </div>
            <div class="form-group">
                <label for="identificador" translate>ident</label>
                <input type="text" class="form-control" id="identificador" name="identificador" [(ngModel)]="model.identificador" #identificador="ngModel" 
                    data-toggle="tooltip"  title="{{ 'identPh' | translate }}" (click)="resetFExperto()"/>
            </div>
            <div class="form-group">
                <button type="submit" id="loginGenerico" class="btn btn-success" [disabled]="!fGenerico.form.valid"
                    data-toggle="tooltip"  title="{{ 'loginGenPh' | translate }}" translate>login</button>
            </div>
        </form>
    </div>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>