#zonaExperto {
    margin: 5% 0;
    padding: 2% 10%;
}

#zonaGenerico {
    margin: 5% 0;
    padding: 2% 10%;
    border-left: thin solid #e6e6e6;
}

@media only screen and (max-width: 769px) {
    #zonaExperto {
        padding: 5%;
        padding-bottom: 0;
    }

    #zonaGenerico {
        padding: 5%;
        border-left: none;
    }
}