<form class="form-horizontal tipo" #fLikert="ngForm" novalidate>
    <div class="tipo form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 label-required control-label">Obligatoria: </label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input class="oblig-si" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="true" required/> Sí
                </label>
        
                <label class="radio-inline">
                    <input class="oblig-no" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="false"/> No
                </label>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': minimo.errors?.max || minimo.hasError('required') }">
            <label for="minimo" class="label-required control-label col-sm-4">Mínimo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="minimo" name="minimo" [(ngModel)]="tipo.Minimo" #minimo="ngModel"
                    [max]="tipo?.Maximo" [attr.max]="tipo?.Maximo" only-numbers [decimales]="true" [negativos]="true" required />
                   
                <div *ngIf="minimo.errors?.max || minimo.hasError('required')" class="help-block">Valor mínimo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': maximo.errors?.min || maximo.hasError('required') }">
            <label for="maximo" class="label-required control-label col-sm-4">Máximo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="maximo" name="maximo" [(ngModel)]="tipo.Maximo" #maximo="ngModel" 
                    [min]="tipo?.Minimo" [attr.min]="tipo?.Minimo" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="maximo.errors?.min || maximo.hasError('required')" class="help-block">Valor máximo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': nrespuestas.errors?.min || nrespuestas.hasError('required') }">
            <label for="nrespuestas" class="label-required control-label col-sm-4">Nº respuestas (k):</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="nrespuestas" name="nrespuestas" [(ngModel)]="tipo.NRespuestas" #nrespuestas="ngModel"
                    [min]="0" [attr.min]="0" only-numbers [decimales]="false" [negativos]="false" required />

                <div *ngIf="nrespuestas.errors?.min || nrespuestas.hasError('required')" class="help-block" >Número de respuestas incorrectas</div>
            </div>
        </div>

        <div class="form-group">
            <label for="tipo" class="label-required control-label col-sm-4" >Tipo:</label>
            <div class="col-sm-8">
                <select class="form-control" id="tipo" name="tipo" [(ngModel)]="optionTipo" required>
                    <option disabled selected value="null" > -- selecciona un tipo -- </option>
                    <option *ngFor="let clave of claves" [value]="tipos[clave]" id="{{tipos[clave]}}">{{tipos[clave] | capitalize}}</option>
                </select>
            </div>
        </div>

        <div [formGroup]="etiquetasForm" *ngIf="optionTipo === tipos[1] && tipo?.NRespuestas > 0">
            <div formArrayName="Etiquetas">
                <div *ngFor="let nombre of etiquetasForm.controls.Etiquetas.controls; let i = index">
                    <div [formGroupName]="i">
                        <div class="form-group">
                            <label for="etiq-nombre-{{i}}" class="control-label col-sm-4"
                                data-toggle="tooltip" title="Según el número de respuestas indicadas">
                                <span *ngIf="i === 0" >Etiquetas:</span>
                            </label>
                            
                            <div class="col-sm-6">
                                <input class="form-control" type="text" id="etiq-nombre-{{i}}" required
                                    (change)="updateNombre($event.target.value, i)" placeholder="Introduzca el nombre..." formControlName="Nombre"/>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>