<small class="form-text text-muted" *ngIf="tipo?.Obligatoria" >
    (*) Respuesta obligatoria
</small>
<div class="frsContainer1">
    <div class="frsSlider">
        <nouislider #slider [disabled]="estado" [config]="configSlider" [(ngModel)]="rango" style="margin: 4% 0"></nouislider>
    </div>

    <form class="frsForm form" #fFrs="ngForm" novalidate>
        <div class="tipo form-inline">
            <div class="centerVertical form-group" [ngClass]="{ 'has-error': a.errors?.max || a.errors?.min || a.hasError('required') }">
                <label for="a" class="control-label col-sm-1">a:</label>
                <div class="col-sm-1">
                    <input type="number" step=".01" name="a" [min]="tipo?.Minimo" [max]="rango[1]" [attr.min]="tipo?.Minimo" [attr.max]="rango[1]"
                        #a="ngModel" [(ngModel)]="rango[0]" (ngModelChange)="updateValues()" class="form-control" onkeydown="return false" [disabled]="estado"/>
                </div>
            </div>

            <div class="centerVertical form-group" [ngClass]="{ 'has-error': b.errors?.max || b.errors?.min || b.hasError('required') }">
                <label for="b" class="control-label col-sm-1">b:</label>
                <div class="col-sm-1">
                    <input type="number" step=".01" name="b" [min]="rango[0]" [max]="rango[2]" [attr.min]="rango[0]" [attr.max]="rango[2]"
                        #b="ngModel" [(ngModel)]="rango[1]" (ngModelChange)="updateValues()" class="form-control" onkeydown="return false" [disabled]="estado"/>                    
                </div>
            </div>

            <div class="centerVertical form-group" [ngClass]="{ 'has-error': c.errors?.max || c.errors?.min || c.hasError('required') }">
                <label for="c" class="control-label col-sm-1">c:</label>
                <div class="col-sm-1">
                    <input type="number" step=".01" name="c" [min]="rango[1]" [max]="rango[3]" [attr.min]="rango[1]" [attr.max]="rango[3]"
                        #c="ngModel" [(ngModel)]="rango[2]" (ngModelChange)="updateValues()" class="form-control" onkeydown="return false" [disabled]="estado"/>
                </div>
            </div>

            <div class="centerVertical form-group" [ngClass]="{ 'has-error': d.errors?.max || d.errors?.min || d.hasError('required') }">
                <label for="d" class="control-label col-sm-1">d:</label>
                <div class="col-sm-1">
                    <input type="number" step=".01" name="d" [min]="rango[2]" [max]="tipo?.Maximo" [attr.min]="rango[2]" [attr.max]="tipo?.Maximo"
                        #d="ngModel" [(ngModel)]="rango[3]" (ngModelChange)="updateValues()" class="form-control" onkeydown="return false" [disabled]="estado"/>
                </div>
            </div>
        </div>
    </form>
</div>