<small class="form-text text-muted" *ngIf="tipo?.Obligatoria" >
    (*) Respuesta obligatoria
</small>
<div class="reiniciar">
    <button type="button" class="btn btn-default pull-right" (click)="reiniciar()" 
        data-toggle="tooltip" title="Salir de la visualización del cuestionario" [disabled]="estado" >
        <span class="glyphicon glyphicon-refresh"></span> Reiniciar
    </button>
</div>

<div class="frsContainer2">
    <div #container class="frsTrapecio">
        <span class="form-text text-muted" >RANGO DE VALORES PLENAMENTE COMPATIBLES</span>
        <ko-stage #stage [config]="configCanvas">
            <ko-layer #layerTrapecio>
                <ko-shape #escala [config]="configEscala"></ko-shape>

                <ko-group>
                    <ko-line #trapecio [config]="configTrapecio"></ko-line>

                    <ko-rect #mover [config]="configMover" (dragmove)="onMove($event)" 
                        (mouseover)="onMouseOver($event)" (mouseout)="onMouseOut($event)"></ko-rect>
                    
                    <ko-circle #bottomLeft [config]="configBottomLeft" (dragmove)="onMoveAnchor($event)"
                        (mouseover)="onMouseOverAnchor($event)" (mouseout)="onMouseOutAnchor($event)"></ko-circle>
                    <ko-circle #topLeft [config]="configTopLeft" (dragmove)="onMoveAnchor($event)"
                        (mouseover)="onMouseOverAnchor($event)" (mouseout)="onMouseOutAnchor($event)"></ko-circle>
                    <ko-circle #topRight [config]="configTopRight" (dragmove)="onMoveAnchor($event)"
                        (mouseover)="onMouseOverAnchor($event)" (mouseout)="onMouseOutAnchor($event)"></ko-circle>
                    <ko-circle #bottomRight [config]="configBottomRight" (dragmove)="onMoveAnchor($event)"
                        (mouseover)="onMouseOverAnchor($event)" (mouseout)="onMouseOutAnchor($event)"></ko-circle>
                </ko-group>
            </ko-layer>
        </ko-stage>
        <span class="form-text text-muted" >RANGO DE VALORES ALGO COMPATIBLES</span>
    </div>

    <form class="form frsForm" #fFrs="ngForm" novalidate>
        <div class="tipo form-inline">
            <div class="centerVertical form-group frsLb" [ngClass]="{ 'has-error': a.errors?.max || a.errors?.min || a.hasError('required') }">
                <b>Tra (</b>
                <input type="number" step=".01" name="a" [min]="tipo?.Minimo" [max]="rango[1]" [attr.min]="tipo?.Minimo" [attr.max]="rango[1]"
                    #a="ngModel" [(ngModel)]="rango[0]" (ngModelChange)="updateCanvas()" class="form-control" [disabled]="estado"
                    only-numbers [decimales]="true" [negativos]="tipo?.Minimo < 0"/>
                <b>,</b>
            </div>
            <div class="centerVertical form-group frsLb" [ngClass]="{ 'has-error': b.errors?.max || b.errors?.min || b.hasError('required') }">
                <input type="number" step=".01" name="b" [min]="rango[0]" [max]="rango[2]" [attr.min]="rango[0]" [attr.max]="rango[2]"
                    #b="ngModel" [(ngModel)]="rango[1]" (ngModelChange)="updateCanvas()" class="form-control" [disabled]="estado"
                    only-numbers [decimales]="true" [negativos]="tipo?.Minimo < 0"/>
                <b>,</b>
            </div>
            <div class="centerVertical form-group frsLb" [ngClass]="{ 'has-error': c.errors?.max || c.errors?.min || c.hasError('required') }">
                <input type="number" step=".01" name="c" [min]="rango[1]" [max]="rango[3]" [attr.min]="rango[1]" [attr.max]="rango[3]"
                    #c="ngModel" [(ngModel)]="rango[2]" (ngModelChange)="updateCanvas()" class="form-control" [disabled]="estado"
                    only-numbers [decimales]="true" [negativos]="tipo?.Minimo < 0"/>
                <b>,</b>
            </div>
            <div class="centerVertical form-group frsLb" [ngClass]="{ 'has-error': d.errors?.max || d.errors?.min || d.hasError('required') }">
                <input type="number" step=".01" name="d" [min]="rango[2]" [max]="tipo?.Maximo" [attr.min]="rango[2]" [attr.max]="tipo?.Maximo"
                    #d="ngModel" [(ngModel)]="rango[3]" (ngModelChange)="updateCanvas()" class="form-control" [disabled]="estado"
                    only-numbers [decimales]="true" [negativos]="tipo?.Minimo < 0"/>
                <b>)</b>
            </div>
        </div>

        <br/>
        <div *ngIf="a.errors?.max || a.errors?.min || a.hasError('required') || b.errors?.max || b.errors?.min || b.hasError('required')
            || c.errors?.max || c.errors?.min || c.hasError('required') || d.errors?.max || d.errors?.min || d.hasError('required')" 
            class="alert alert-danger" >Introduzca valores válidos</div> 
    </form>
</div>