<p class="ubicacion"><b>Usted está en:</b> Usuarios genéricos</p>

<h2>Usuarios genéricos <a (click)="mostrarAyuda()" data-toggle="tooltip" title="Pulse para mostrar la ayuda">
    <span class="glyphicon glyphicon-question-sign"></span></a></h2> 

<div class="panel panel-info" *ngIf="ayuda">
    <div class="panel-body">
        <p class="justificar">Aquí se muestran todos los usuarios genéricos del sistema. <br/>
            Si un usuario sale deshabilitado en la tabla, es que usted no es el creador y no podrá ni editarlo ni eliminarlo, solo ver los datos.</p>
            <ul>
                <li>Para <b>editar</b> el usuario y la contraseña haga clic sobre la fila del usuario escogido y los datos del usuario aparecerán en el formulario a la izquierda de la tabla. 
                    Editando estos y pulsando "Guardar", se actualizará el usuario genérico en cuestión. 
                    Para cancelar la edición pulse el símbolo "X" en la esquina superior derecha del mismo formulario.</li>
                <li>Para <b>eliminar</b> el usuario, selecciónelo en la tabla de la derecha y pulse el botón "Eliminar" del formulario de la izquierda. 
                    Si el botón se encuentra deshabilitado es porque el usuario tiene cuestionarios asociados.</li>
            </ul>
    </div>
</div>

<div class="row centerVertical">
    <div class="col-sm-4">
        <form class="form-horizontal" [formGroup]="genericoForm" (ngSubmit)="saveGenerico()" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-remove pull-right close" id="cancelar" (click)="cerrar()" data-toggle="tooltip" title="Cancelar edición"></span>
                    <span><br/></span>
                </div>
                <div class="panel-body">
                    <div class="form-group" [ngClass]="{ 'has-error': (genericoForm.get('usuario').touched && genericoForm.get('usuario').hasError('required')) || genericoForm.get('usuario').hasError('notAvailable') }">
                        <label for="usuario" class="label-required control-label col-sm-4">Usuario:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="usuario" name="usuario" formControlName="usuario" data-toggle="tooltip" title="Nombre del usuario genérico"/>

                            <div *ngIf="genericoForm.get('usuario').touched && genericoForm.get('usuario').hasError('required')"
                                class="help-block">Se requiere usuario</div>
                            <div *ngIf="genericoForm.get('usuario').hasError('notAvailable')" 
                                class="help-block">Nombre de usuario no disponible</div>
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': (genericoForm.get('contrasena').touched && genericoForm.get('contrasena').hasError('required')) || (genericoForm.get('contrasena').dirty && (genericoForm.get('contrasena').hasError('minlength') || genericoForm.get('contrasena').hasError('maxlength'))) }">
                        <label for="contrasena" class="label-required control-label col-sm-4">Contraseña:</label>
                        <div class="col-sm-7">
                            <input type="text" class="form-control" id="contrasena" name="contrasena" formControlName="contrasena" placeholder="Entre 8-20 carácteres"data-toggle="tooltip" title="Contraseña del usuario genérico"/>

                            <div *ngIf="genericoForm.get('contrasena').touched && genericoForm.get('contrasena').hasError('required')" 
                                class="help-block">Se requiere contraseña</div>
                            <div *ngIf="genericoForm.get('contrasena').dirty && (genericoForm.get('contrasena').hasError('minlength') || genericoForm.get('contrasena').hasError('maxlength'))" 
                                class="help-block">La contraseña debe tener entre 8-20 caracteres</div>
                        </div>
                    </div>

                    <div class="center">
                        <button type="button" class="btn btn-danger" id="removeGenerico" [disabled]="!(selected && generico?.Cuestionarios.length < 1)" 
                            (click)="eliminarGenerico()" data-toggle="tooltip" title="Eliminar un usuario genérico">
                            <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                        <button type="submit" class="guardar btn btn-primary" id="saveGenerico" [disabled]="genericoForm.invalid" 
                            data-toggle="tooltip" title="Crear o actualizar un usuario genérico">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-8">
        <tabla-genericos-experto (onSelectGenerico)="onSelectGenerico($event)"></tabla-genericos-experto>
    </div>
</div>

<simple-notifications [options]="globals?.notificationOptions"></simple-notifications>