<p class="ubicacion"><b>Usted está en:</b> <a (click)="cerrar()">Cuestionarios</a> >> Visualizar</p>

<h1>{{cuestionario?.Titulo}}</h1>
<div class="panel panel-default" *ngIf="cuestionario?.Instrucciones || (cuestionario?.ArchivosInstrucciones && cuestionario?.ArchivosInstrucciones.length > 0)">
    <div class="panel-body">
        <div *ngIf="cuestionario?.Instrucciones" class="ql-editor preview" [innerHTML]="cuestionario?.Instrucciones"></div>
        <div *ngIf="cuestionario?.ArchivosInstrucciones && cuestionario?.ArchivosInstrucciones.length > 0">
            <h4 >Archivos adjuntos:</h4>
            <div *ngFor="let archivo of cuestionario?.ArchivosInstrucciones">
                <a class="linkDescargar" (click)="descargarArchivo(archivo)"><span class="download glyphicon glyphicon-save-file"></span> {{archivo.Filename}}</a>
                <br/>
            </div>
        </div>
    </div>
</div>

<div *ngIf="cuestionario?.ModeloEscogido && preguntaActual">
    <h3 class="bloqueResponder">{{preguntaActual?.NombreBloque}}</h3>

    <div class="sinPadding col-sm-1">
        <div class="panel panel-info">
            <div class="panel-heading posicionBloque">{{preguntaActual?.Posicion}}</div>
            <div class="panel-body text-muted center">
                <span class="posicionGlobal" >Item {{item}} de {{total}}</span>
                <br/>
                <span class="porcentaje" >{{porcentaje}}% del total</span>
            </div>
        </div>
    </div>

    <div class="col-sm-11 pregunta">
        <div class="panel panel-default">
            <div class="ql-editor preview" [innerHTML]="preguntaActual?.Enunciado"></div>

            <div class="panel-body">
                <div class="tipoRespuestaDiv" *ngFor="let tipo of preguntaActual?.TiposRespuestas">
                    <visualizar-tipo [tipoRespuesta]="tipo" [pregunta]="preguntaActual"></visualizar-tipo>
                </div>
            </div>
        </div>
    </div>
</div>

<button type="button" #siguienteBt class="btn btn-primary pull-right options" (click)="siguientePregunta()" *ngIf="i < preguntas?.length-1" 
    data-toggle="tooltip" title="Envía las respuestas contestadas sin salir del cuestionario" >
    Siguiente <span class="glyphicon glyphicon-chevron-right"></span>
</button>

<button type="button" class="btn btn-success pull-right options" *ngIf="i === preguntas?.length-1" (click)="cerrar()" 
    data-toggle="tooltip" title="Envía las respuestas contestadas sin salir del cuestionario" >
    <span class="glyphicon glyphicon-ok"></span> Finalizar</button>
        
<button type="button" #atrasBt class="btn btn-primary pull-right options" (click)="anteriorPregunta()" *ngIf="i > 0" 
    data-toggle="tooltip" title="Envía las respuestas contestadas sin salir del cuestionario" >
    <span class="glyphicon glyphicon-chevron-left"></span> Atrás
</button>

<button type="button" class="btn btn-danger pull-right" (click)="cerrar()" 
    data-toggle="tooltip" title="Salir de la visualización del cuestionario" >
    <span class="glyphicon glyphicon-remove"></span> Salir
</button>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>
