<div [formGroup]="bloqueForm">
    <div formArrayName="Bloques">
        <div class="pre-scrollable">
            <div *ngFor="let nombre of getBloques.controls; let i = index">
                <div [formGroupName]="i" >
                    <div class="form-group">
                        <label for="bloque-{{i}}">Bloque {{i+1}}:</label>
                        
                        <div class="input-group input-bloques">
                            <input class="form-control" type="text" name="bloque-{{i}}" id="bloque-{{i}}" 
                                (change)="updateBloque($event.target.value, i)" placeholder="Introduzca el nombre..." formControlName="Nombre" required/>

                            <span class="input-group-btn">
                                <button *ngIf="getBloques.controls.length > 1" id="removeBloque-{{i}}" class="btn btn-secondary" (click)="removeBloque(i)" type="button" data-toggle="tooltip" title="Eliminar el bloque">
                                    <span class="glyphicon glyphicon-remove"></span>
                                </button>

                                <button class="invisible-bt" *ngIf="getBloques.controls.length <= 1"></button>
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<button class="btn btn-default" id="addBloque" (click)="addBloque()" type="button" [disabled]="bloqueForm.invalid" data-toggle="tooltip" title="Añadir un nuevo bloque"><span class="glyphicon glyphicon-plus"></span></button>