<form class="form" #fVAnalogica="ngForm" novalidate>
    <div class="tipo form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 label-required control-label">Obligatoria: </label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input class="oblig-si" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="true" required/> Sí
                </label>
        
                <label class="radio-inline">
                    <input class="oblig-no" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="tipo.Obligatoria" [value]="false"/> No
                </label>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': minimo.errors?.max || minimo.hasError('required') }">
            <label for="minimo" class="label-required control-label col-sm-4">Mínimo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="minimo" name="minimo" [(ngModel)]="tipo.Minimo" #minimo="ngModel" 
                    [max]="tipo?.Maximo-0.01" [attr.max]="tipo?.Maximo-0.01" step="{{tipo?.Escala}}" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="minimo.errors?.max || minimo.hasError('required')" class="help-block">Valor mínimo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': maximo.errors?.min || maximo.hasError('required') }">
            <label for="maximo" class="label-required control-label col-sm-4">Máximo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="maximo" name="maximo" [(ngModel)]="tipo.Maximo" #maximo="ngModel" 
                    [min]="tipo?.Minimo+0.01" [attr.min]="tipo?.Minimo+0.01" step="{{tipo?.Escala}}" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="maximo.errors?.min || maximo.hasError('required')" class="help-block">Valor máximo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': escala.errors?.min || escala.errors?.max || escala.hasError('required') }">
            <label for="escala" class="label-required control-label col-sm-4">Escala:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="escala" name="escala" [(ngModel)]="tipo.Escala" #escala="ngModel" 
                    [min]="0" [max]="tipo?.Maximo" [attr.min]="0" [attr.max]="tipo?.Maximo" step="0.001" only-numbers [decimales]="true" [negativos]="true" required/>
                    
                <div *ngIf="escala.errors?.min || escala.errors?.max || escala.hasError('required')" class="help-block">Escala incorrecta</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': vd.errors?.min || vd.errors?.max || vd.hasError('required') }">
            <label for="vd" class="label-required control-label col-sm-4">Valor por defecto:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="vd" name="vd" [(ngModel)]="valorDefecto" #vd="ngModel" 
                    [min]="tipo?.Minimo" [max]="tipo?.Maximo" [attr.min]="tipo?.Minimo" [attr.max]="tipo?.Maximo" only-numbers [decimales]="true" [negativos]="true" required/>
                <div *ngIf="vd.errors?.min || vd.errors?.max || vd.hasError('required')" class="help-block">Valor por defecto incorrecto</div>
            </div>
        </div>
    </div>
</form>