<p class="ubicacion"><b>Usted está en:</b> <a (click)="cancelar()">Cuestionarios</a> >> Edición (paso 2/2)</p>

<h2>Preguntas de {{cuestionario?.Titulo}} <a (click)="mostrarAyuda()" data-toggle="tooltip" title="Pulse para mostrar la ayuda">
        <span class="glyphicon glyphicon-question-sign"></span></a></h2> 

<div class="panel panel-info" *ngIf="ayuda">
    <div class="panel-body">
        <p class="justificar">
            Añada, duplique, borre o actualice las preguntas que conforman el cuestionario.<br/>
            Puede cancelar en cualquier momento lo que esté haciendo pulsando el botón "X" de la esquina superior derecha del formulario de la izquierda.<br/>
            Es obligatorio indicar el enunciado, el bloque al que pertenece y al menos un tipo de respuesta.
        </p>

        <ul>
            <li>Para <b>añadir</b> una nueva pregunta, debe indicar el enunciado, el bloque al que pertenece y el/los tipos de respuestas en el formulario de la izquierda y pulsar el botón "Guardar".</li>
            <li>Para <b>borrar</b> una pregunta, debe seleccionarla en la tabla de la derecha, el formulario de la izquierda se autorrellenará y se habilitará el botón "Eliminar". Pulsándolo la pregunta desaparecerá del cuestionario.</li>
            <li>Para <b>duplicar</b> una pregunta, debe seleccionarla en la tabla de la derecha, el formulario de la izquierda se autorrellenará y se habilitará el botón "Duplicar". Pulsándolo se añadirá una pregunta al cuestionario exactamente igual.</li>
            <li>Para <b>actualizar</b> una pregunta ya existente, debe seguir básicamente el procedimiento anterior. Seleccionará la pregunta deseada en la tabla de la derecha y en el formulario de la izquierda aparecerán sus datos. Modifique lo que desee y pulse "Guardar".</li>
        </ul>
    </div>
</div>

<div class="row">
    <div class="col-sm-7">
        <form id="fPreguntas" name="fPreguntas" class="form" (ngSubmit)="fPreguntas.valid && savePregunta()" #fPreguntas="ngForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-remove pull-right close" (click)="cerrar()" data-toggle="tooltip" title="Cancelar"></span>
                    <span><br/></span>
                </div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="label-required" for="enunciado">Enunciado:</label>
                        <div id="toolbar">
                            <button class="ql-bold">Negrita</button>
                            <button class="ql-italic">Cursiva</button>
                            <button class="ql-underline">Subrayado</button>

                            <select class="ql-align">
                                <option selected></option>
                                <option label="center" value="center"></option>
                                <option label="right" value="right"></option>
                                <option label="justify" value="justify"></option>
                            </select>

                            <button class="ql-list" value="ordered">Lista numérica</button>
                            <button class="ql-list" value="bullet">Lista</button>

                            <select class="ql-size">
                                <option label="small" value="small"></option>
                                <option selected></option>
                                <option label="large" value="large"></option>
                                <option label="huge" value="huge"></option>
                            </select>
                            <select class="ql-header">
                                <option label="1" value="1"></option>
                                <option label="2" value="2"></option>
                                <option label="3" value="3"></option>
                                <option label="4" value="4"></option>
                                <option label="5" value="5"></option>
                                <option label="6" value="6"></option>
                                <option selected></option>
                            </select>
                        </div>
                        <quill-editor name="editor" #editor="ngModel" [(ngModel)]="editorContent"
                            [options]="editorOptions" (change)="onContentChanged($event)"></quill-editor>
                    </div>

                    <div class="form-group">
                        <label class="label-required" for="bloque">Bloque:</label>
                        <select class="form-control" id="bloque" name="bloque" [(ngModel)]="model.Bloque_ID" required
                            data-toggle="tooltip" title="Indique el bloque al que pertenece la pregunta">
                            <option disabled value=""> -- selecciona un bloque -- </option>
                            <option *ngFor="let bloq of cuestionario?.Modelos[0].Bloques; let i=index" id="bloque-{{i}}" [value]="bloq.ID">{{bloq.Nombre}}</option>
                        </select>
                    </div>

                    <div class="form-horizontal" [formGroup]="fTipos">
                        <div formArrayName="TiposRespuesta">
                            <div class="form-group">
                                <label for="addTipo" class="tiposRespuestaLb control-label col-sm-3 label-required">Tipos de respuesta:</label>
                                <div class="tiposRespuestaBtAdd col-sm-8">
                                    <button class="btn btn-default" id="addTipo" name="addTipo" [disabled]="fTipos.invalid" (click)="addTipo()" type="button"
                                        data-toggle="tooltip" title="Añade un tipo de respuesta a esta pregunta">
                                        <span class="glyphicon glyphicon-plus"></span>
                                    </button>
                                </div>
                            </div>

                            <div class="edicionTipos" *ngFor="let nombre of getTipos.controls; let k = index">
                                <div [formGroupName]="k" >
                                    <div class="form-group">
                                        <label class="control-label col-sm-3"></label>
                                        <div class="col-sm-8">
                                            <div class="form-group">
                                                <a (click)="toggle(k)" *ngIf="selectedTipos[k] && selectedTipos[k].ComponenteNuevo"><span [class]="toggles[k].classType" id="expan-tr-{{k}}"></span></a>
                                                
                                                <label for="tipo-nombre-{{k}}">Tipo de respuesta {{k+1}}: </label>
                                                <a *ngIf="getTipos.controls.length > 1" data-toggle="tooltip" 
                                                    title="Elimina el tipo de respuesta de la pregunta" (click)="removeTipo(k)">Eliminar</a>
                                                
                                                <select class="form-control" id="tipo-nombre-{{k}}" name="tipo-nombre-{{k}}" formControlName="Tipo" (change)="changeTipo($event.target.value, k)" required>
                                                    <option disabled value=""> -- selecciona un tipo -- </option>
                                                    <option *ngFor="let clave of claves | sortEnum" [value]="tiposCodigo[clave]" id="tipo-{{clave}}">{{tiposNombre[clave]}}</option>
                                                </select>
                                                
                                                <div class="tipoRespuestaOpts" *ngIf="selectedTipos[k] && selectedTipos[k].ComponenteNuevo" [ngClass]="{hide: !toggles[k].opened}">
                                                    <nuevo-tipo [tipoRespuesta]="selectedTipos[k]" (isValid)="isValid($event)" ></nuevo-tipo>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="text-center">
                        <button type="button" class="btn btn-danger" id="removePregunta" (click)="eliminarPregunta()" [disabled]="!edicion"
                            data-toggle="tooltip" title="Elimina la pregunta seleccionada">
                            <span class="glyphicon glyphicon-trash"></span> Eliminar</button>
                        <button type="button" class="guardar btn btn-default" id="duplicarPregunta" (click)="duplicarPregunta()" [disabled]="!edicion"
                            data-toggle="tooltip" title="Duplica la pregunta seleccionada">
                            <span class="glyphicon glyphicon-copy"></span> Duplicar</button>
                        <button type="submit" class="guardar btn btn-primary" id="savePregunta" [disabled]="!fPreguntas.form.valid || !isValidTipo || !fTipos.valid"
                            data-toggle="tooltip" title="Añade/actualiza una pregunta">
                            <span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <div class="col-sm-5 tabla">
        <tabla-preguntas (onSelectPregunta)="onSelectPregunta($event)" (isEmptyTable)="isEmptyTable($event)"></tabla-preguntas>

        <button type="button" class="btn btn-primary" (click)="reordenar()" data-toggle="tooltip" title="Pulse para reordenar las preguntas y bloques de un cuestionario">
            <span class="glyphicon glyphicon-th-list"></span> Reordenar cuestionario</button>
    </div>
</div>

<div class="form-group">
    <button type="button" class="btn btn-success pull-right options" id="finalizar" (click)="cancelar()">
        <span class="glyphicon glyphicon-ok"></span> Finalizar</button>
    <button type="button" class="btn btn-primary pull-right options" id="visualizar" (click)="visualizar()">
        <span class="glyphicon glyphicon-eye-open"></span> Visualizar</button>
    <button type="button" class="btn btn-default pull-right options" id="atras" [routerLink]="['/user/cuestionarios/cuestionario']">
        <span class="glyphicon glyphicon-arrow-left"></span> Atrás</button>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>
