<div class="cuerpo">
    <router-outlet></router-outlet>
</div>

<footer>
    <div class="blanco"></div>

    <div class="informacion">
        <a id="acercaDe" (click)="showAcercaDe()" translate>acercaDe</a>
        <a id="terminos" (click)="showTerminos()" translate>terminos</a>
    </div>

    <div class="localizacion">
        <h5><b translate>coordinacion</b> <span translate>direccion</span></h5>
        <h5><b translate>tlfn</b> (+34) 985 103356, <b>Fax:</b> (+34) 985 103356</h5>
        <h5><b translate>correoFt</b> <a href="mailto:SMIRE@uniovi.es">SMIRE@uniovi.es</a></h5>
    </div>
</footer>