<p class="ubicacion"><b>Usted está en:</b> Perfil</p>

<h2>Perfil</h2>

<ul class="perfilTabs nav nav-tabs">
    <li [class.active]="datosGenerales"><a class="link-bt" (click)="showDatosGenerales()" id="showDatosGenerales">Datos generales</a></li>
    <li [class.active]="contrasenas"><a class="link-bt" (click)="showContrasenas()" id="showContrasenas">Contraseña</a></li>
</ul>

<div *ngIf="datosGenerales">
    <form [formGroup]="generalForm" (ngSubmit)="updateDatos()" novalidate>
        <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': generalForm.get('usuario').hasError('required') || generalForm.get('usuario').hasError('notAvailable')
                || generalForm.get('usuario').hasError('pattern') || generalForm.get('usuario').hasError('maxlength') }">
                <label class="label-required" for="usuario">Usuario:</label>

                <input type="text" class="form-control" id="usuario" name="usuario" formControlName="usuario"/>
                <div *ngIf="generalForm.get('usuario').hasError('required')" class="help-block">Se requiere nombre de usuario</div>
                <div *ngIf="generalForm.get('usuario').hasError('notAvailable')" class="help-block">Nombre de usuario no disponible</div>
                <div *ngIf="generalForm.get('usuario').hasError('pattern')" class="help-block">Nombre de usuario sin espacios</div>
                <div *ngIf="generalForm.get('usuario').hasError('maxlength')" class="help-block">Demasiado largo</div>
            </div>
            
            <div class="form-group" [ngClass]="{ 'has-error': generalForm.get('nombre').hasError('required') || generalForm.get('nombre').hasError('pattern') 
                || generalForm.get('nombre').hasError('maxlength') }">
                <label class="label-required" for="nombre">Nombre:</label>
                
                <input type="text" class="form-control" id="nombre" name="nombre" formControlName="nombre" />
                <div *ngIf="generalForm.get('nombre').hasError('required')" class="help-block">Se requiere nombre</div>
                <div *ngIf="generalForm.get('nombre').hasError('pattern')" class="help-block">Formato de nombre inválido, solo letras</div>
                <div *ngIf="generalForm.get('nombre').hasError('maxlength')" class="help-block">Demasiado largo</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': generalForm.get('apellidos').hasError('required') || generalForm.get('apellidos').hasError('pattern') 
                || generalForm.get('apellidos').hasError('maxlength') }">
                <label class="label-required" for="apellidos">Apellidos:</label>

                <input type="text" class="form-control" id="apellidos" name="apellidos" formControlName="apellidos" />
                <div *ngIf="generalForm.get('apellidos').hasError('required')" class="help-block">Se requieren apellidos</div>
                <div *ngIf="generalForm.get('apellidos').hasError('pattern')" class="help-block">Formato de apellidos inválido, solo letras</div>
                <div *ngIf="generalForm.get('apellidos').hasError('maxlength')" class="help-block">Demasiado largo</div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="form-group" [ngClass]="{ 'has-error': generalForm.get('correo').hasError('required') || generalForm.get('correo').hasError('email')
                || generalForm.get('correo').hasError('maxlength') }">
                <label class="label-required" for="correo">Correo:</label>

                <input type="email" class="form-control" id="correo" name="correo" formControlName="correo" placeholder="example@domain.com" email/>
                <div *ngIf="generalForm.get('correo').hasError('required')" class="help-block">Se requiere correo</div>
                <div *ngIf="generalForm.get('correo').hasError('email')" class="help-block">Formato de correo inválido</div>
                <div *ngIf="generalForm.get('correo').hasError('maxlength')" class="help-block">Demasiado largo</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': generalForm.get('departamento').hasError('maxlength') }">
                <label for="departamento">Departamento:</label>

                <input type="text" class="form-control" id="departamento" name="departamento" formControlName="departamento" />
                <div *ngIf="generalForm.get('departamento').hasError('maxlength')" class="help-block">Demasiado largo</div>
            </div>

            <div class="form-group">
                <button type="submit" class="btn btn-success pull-right" id="datosBt" [disabled]="generalForm.invalid || generalForm.pristine">
                    <span class="glyphicon glyphicon-floppy-disk"></span> Actualizar datos</button>
            </div>
        </div>
    </form>
</div>

<div *ngIf="contrasenas" class="col-md-6">
    <form [formGroup]="contrasenasForm" (ngSubmit)="updateContrasenas()" novalidate>

        <div class="form-group" [ngClass]="{ 'has-error': contrasenasForm.get('contrasena').touched && contrasenasForm.get('contrasena').hasError('required') }">
            <label class="label-required" for="con3">Contraseña actual:</label>

            <input type="password" class="form-control" id="con1" name="con1" formControlName="contrasena" data-toggle="tooltip" title="Escriba su contraseña actual"/>
            
            <div *ngIf="contrasenasForm.get('contrasena').touched && contrasenasForm.get('contrasena').hasError('required')" 
                class="help-block">Se requiere la contraseña actual</div>
            
        </div>

        <div formGroupName="nuevas">
            <div class="form-group" [ngClass]="{ 'has-error': (contrasenasForm.get('nuevas').get('nuevaContrasena').touched && contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('required')) 
                || (contrasenasForm.get('nuevas').get('nuevaContrasena').dirty && (contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('minlength') || contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('maxlength'))) }">
                <label class="label-required" for="con1">Nueva contraseña:</label>

                <input type="password" class="form-control" id="con2" name="con2" formControlName="nuevaContrasena" placeholder="Entre 8-20 carácteres"  data-toggle="tooltip" title="Escriba la nueva contraseña"/>
                
                <div *ngIf="contrasenasForm.get('nuevas').get('nuevaContrasena').touched && contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('required')" 
                    class="help-block">Se requiere nueva contraseña</div>
                <div *ngIf="contrasenasForm.get('nuevas').get('nuevaContrasena').dirty && 
                    (contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('minlength') || contrasenasForm.get('nuevas').get('nuevaContrasena').hasError('maxlength'))" 
                    class="help-block">La contraseña debe tener entre 8-20 caracteres</div>
            </div>

            <div class="form-group" [ngClass]="{ 'has-error': contrasenasForm.get('nuevas').hasError('notEqual') }">
                <label class="label-required" for="con2">Repetir contraseña:</label>

                <input type="password" class="form-control" id="con3" name="con3" formControlName="repContrasena" data-toggle="tooltip" title="Escriba de nuevo su nueva contraseña"/>
                
                <div *ngIf="contrasenasForm.get('nuevas').hasError('notEqual')" class="help-block">Las contraseñas no coinciden</div>
            </div>
        </div>

        <div class="form-group">
             <button type="submit" class="btn btn-success pull-right" id="contrasenasBt" [disabled]="contrasenasForm.invalid">
                <span class="glyphicon glyphicon-floppy-disk"></span> Actualizar contraseña</button>
        </div>
    </form>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>