<p class="ubicacion"><b>Usted está en:</b> <a (click)="cancelar()">Cuestionarios</a> >> Edición (paso 1/2)</p>

<h2>Cuestionario {{model?.Titulo}} <a (click)="mostrarAyuda()" data-toggle="tooltip" title="Pulse para mostrar la ayuda">
        <span class="glyphicon glyphicon-question-sign"></span></a></h2> 

<div class="panel panel-info" *ngIf="ayuda">
    <div class="panel-body">
        <p class="justificar">
            Introduzca los datos del cuestionario, es decir, el título, opcionalmente las instrucciones de este y sus archivos adjuntos (solo admite PDF), el usuario genérico y los bloques que lo forman.<br/> 
            Tenga en cuenta que si borra un bloque, se eliminarán todas las preguntas que contiene.
        </p>
    </div>
</div>

<form (ngSubmit)="(model?.ID || fCuestionario.form.valid) && siguiente()" #fCuestionario="ngForm" novalidate>
    <div class="row">
        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Datos generales</b></div>
                <div class="panel-body">
                    <div class="form-group">
                        <label class="label-required" for="titulo">Título:</label>
                        <input type="text" class="form-control" id="titulo" name="titulo" [(ngModel)]="model.Titulo" #titulo="ngModel" required data-toggle="tooltip" title="Título del cuestionario"/>
                    </div>

                    <div class="form-group">
                        <label class="label-required">Instrucciones:</label>

                        <div id="toolbar">
                            <button class="ql-bold">Negrita</button>
                            <button class="ql-italic">Cursiva</button>
                            <button class="ql-underline">Subrayado</button>

                            <select class="ql-align">
                                <option selected></option>
                                <option label="center" value="center"></option>
                                <option label="right" value="right"></option>
                                <option label="justify" value="justify"></option>
                            </select>

                            <button class="ql-list" value="ordered">Lista numérica</button>
                            <button class="ql-list" value="bullet">Lista</button>

                            <select class="ql-size">
                                <option label="small" value="small"></option>
                                <option selected></option>
                                <option label="large" value="large"></option>
                                <option label="huge" value="huge"></option>
                            </select>
                            <select class="ql-header">
                                <option label="1" value="1"></option>
                                <option label="2" value="2"></option>
                                <option label="3" value="3"></option>
                                <option label="4" value="4"></option>
                                <option label="5" value="5"></option>
                                <option label="6" value="6"></option>
                                <option selected></option>
                            </select>
                        </div>
                        <quill-editor name="editor" #editor="ngModel" [(ngModel)]="editorContent"
                            [options]="editorOptions" (change)="onContentChanged($event)"></quill-editor>
                        
                        <div class="files">
                            <input class="inputFile" type="file" name="instruccionesFiles" id="instruccionesFiles" (change)="fileChange($event)" accept=".pdf,.jpeg,.jpg,.png" multiple 
                                data-toggle="tooltip" title="Adjunte archivos para aquellas personas que vayan a responder el cuestionario">
                            <label for="instruccionesFiles" class="btn btn-default">Examinar...</label>
                            
                            <a (click)="eliminarInstrucciones()">Eliminar</a>
                            
                            <div class="files">
                                <span *ngFor="let archivo of nombresArchivos; let isLast=last">
                                    {{archivo}}{{isLast ? '' : ', '}}
                                </span>
                                <span *ngIf="nombresArchivos?.length === 0">
                                    No hay archivos.
                                </span>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="label-required" for="generico">Usuario genérico:</label>
                        <select class="form-control" id="generico" name="generico" [(ngModel)]="model.Generico_ID" #generico="ngModel" required data-toggle="tooltip" title="Usuario genérico asociado al cuestionario">
                            <option disabled value=""> -- selecciona un usuario -- </option>
                            <option *ngFor="let gen of genericos | sort: 'Usuario'" id="{{gen.Usuario}}" [value]="gen.ID">{{gen.Usuario}}</option>
                        </select>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-sm-6">
            <div class="panel panel-default">
                <div class="panel-heading"><b>Bloques</b></div>
                <div class="panel-body">
                    <bloques [modelo]="model?.Modelos[0]" (isValid)="isValid($event)"></bloques>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-success pull-right options" id="siguiente" 
            [disabled]="!model?.ID && (!fCuestionario.form.valid || !isBloquesValid)"
            data-toggle="tooltip" title="Continue creando/editando el cuestionario">
            <span class="glyphicon glyphicon-arrow-right"></span> Siguiente</button>
        <button type="button" class="btn btn-primary pull-right options" id="guardar" *ngIf="model?.ID"
            (click)="actualizarCuestionario()" [disabled]="!fCuestionario.form.valid || !isBloquesValid" data-toggle="tooltip" title="Guarde los cambios realizados">
            <span class="glyphicon glyphicon-floppy-disk"></span> Guardar</button>
        <button type="button" class="btn btn-default pull-right options" id="cancelar" (click)="cancelar()"
            data-toggle="tooltip" title="Salir de la creación/edición del cuestionario">
            <span class="glyphicon glyphicon-arrow-left"></span> Atrás</button>
    </div>
</form>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>