<cabecera [ref]="ref"></cabecera>

<div class="container">
    <div class="registro">
        <h2 translate>registroTit</h2>
        <form [formGroup]="registroForm" class="form-horizontal registroForm" (ngSubmit)="onSubmit()" novalidate>
            <div class="col-sm-6">
                <fieldset>
                    <legend translate>datGen</legend>
                    <div class="form-group" [ngClass]="{ 'has-error': (registroForm.get('nombre').touched && registroForm.get('nombre').hasError('required')) 
                        || (registroForm.get('nombre').dirty && !registroForm.get('nombre').hasError('required') && (registroForm.get('nombre').hasError('pattern') || registroForm.get('nombre').hasError('maxlength'))) }">
                        <label for="nombre" class="label-required control-label col-sm-4" translate>nombre</label>   
                        
                        <div class="col-sm-8">  
                            <input type="text" class="form-control" id="nombre" formControlName="nombre"/>
                            <div *ngIf="registroForm.get('nombre').touched && registroForm.get('nombre').hasError('required')" 
                                class="help-block" translate>nombreRq</div>
                            <div *ngIf="registroForm.get('nombre').dirty && !registroForm.get('nombre').hasError('required')">
                                <div *ngIf="registroForm.get('nombre').hasError('pattern')" class="help-block" translate>errorNomFor</div>
                                <div *ngIf="registroForm.get('nombre').hasError('maxlength')" class="help-block" translate>errorLong</div>
                            </div> 
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': (registroForm.get('apellidos').touched && registroForm.get('apellidos').hasError('required')) 
                        || (registroForm.get('apellidos').dirty && !registroForm.get('apellidos').hasError('required') && (registroForm.get('apellidos').hasError('pattern') || registroForm.get('apellidos').hasError('maxlength'))) }">
                        <label for="apellidos" class="label-required control-label col-sm-4" translate>apellidos</label>
                        
                        <div class="col-sm-8">  
                            <input type="text" class="form-control" id="apellidos" formControlName="apellidos"/>
                            <div *ngIf="registroForm.get('apellidos').touched && registroForm.get('apellidos').hasError('required')" 
                                class="help-block" translate>apellidosRq</div>
                            <div *ngIf="registroForm.get('apellidos').dirty && !registroForm.get('apellidos').hasError('required')">
                                <div *ngIf="registroForm.get('apellidos').hasError('pattern')" class="help-block" translate>errorApFor</div>
                                <div *ngIf="registroForm.get('apellidos').hasError('maxlength')" class="help-block" translate>errorLong</div>
                            </div>                    
                        </div>
                    </div>

                    <div class="form-group" [ngClass]="{ 'has-error': (registroForm.get('correo').touched && registroForm.get('correo').hasError('required')) 
                        || (registroForm.get('correo').dirty && !registroForm.get('correo').hasError('required') && (registroForm.get('correo').hasError('email') || registroForm.get('correo').hasError('maxlength'))) }">
                        <label for="correo" class="label-required control-label col-sm-4" translate>correo</label>
                        
                        <div class="col-sm-8">  
                            <input type="email" class="form-control" id="correo" formControlName="correo" placeholder="example@domain.com" email/>
                            <div *ngIf="registroForm.get('correo').touched && registroForm.get('correo').hasError('required')" 
                                class="help-block" translate>correoRq</div>
                            <div *ngIf="registroForm.get('correo').dirty && !registroForm.get('correo').hasError('required')">
                                <div *ngIf="registroForm.get('correo').hasError('email')" class="help-block" translate>errorCorrFor</div>
                                <div *ngIf="registroForm.get('correo').hasError('maxlength')" class="help-block" translate>errorLong</div>
                            </div>       
                        </div>
                    </div>

                    <div class="form-group"  [ngClass]="{ 'has-error': registroForm.get('departamento').hasError('maxlength') }">
                        <label for="departamento" class="control-label col-sm-4" translate>departamento</label>
                        
                        <div class="col-sm-8">  
                            <input type="text" class="form-control" id="departamento" formControlName="departamento"/>

                            <div *ngIf="registroForm.get('departamento').hasError('maxlength')" class="help-block" translate>errorLong</div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="col-sm-6">
                <fieldset>
                    <legend translate>datUsr</legend>
                    <div class="form-group" [ngClass]="{ 'has-error': (registroForm.get('usuario').touched && (registroForm.get('usuario').hasError('notAvailable') 
                        || registroForm.get('usuario').hasError('required'))) || (registroForm.get('usuario').dirty && !registroForm.get('usuario').hasError('required') 
                        && (registroForm.get('usuario').hasError('pattern') || registroForm.get('usuario').hasError('maxlength'))) }">
                        <label for="usuario" class="label-required control-label col-sm-4" translate>usuario</label>
                        
                        <div class="col-sm-8">  
                            <input type="text" class="form-control" id="usuario" formControlName="usuario"/>
                            <div *ngIf="registroForm.get('usuario').touched">
                                <div *ngIf="registroForm.get('usuario').hasError('notAvailable')" 
                                    class="help-block" translate>errorUsrDisp</div>
                                <div *ngIf="registroForm.get('usuario').hasError('required')" 
                                    class="help-block" translate>errorUsrFor</div>
                            </div>
                            <div *ngIf="registroForm.get('usuario').dirty && !registroForm.get('usuario').hasError('required')">
                                <div *ngIf="registroForm.get('usuario').hasError('pattern')" class="help-block" translate>errorUsrFor</div>
                                <div *ngIf="registroForm.get('usuario').hasError('maxlength')" class="help-block" translate>errorLong</div>
                            </div>
                        </div>
                    </div>

                    <div formGroupName="contrasenas">
                        <div class="form-group" [ngClass]="{ 'has-error': (registroForm.get('contrasenas').get('contrasena').touched && registroForm.get('contrasenas').get('contrasena').hasError('required')) 
                            ||  (registroForm.get('contrasenas').get('contrasena').dirty && (registroForm.get('contrasenas').get('contrasena').hasError('minlength') 
                            || registroForm.get('contrasenas').get('contrasena').hasError('maxlength'))) }">
                            <label for="contrasena" class="label-required control-label col-sm-4" translate>contrasena</label>
                            
                            <div class="col-sm-8">  
                                <input type="password" class="form-control" id="contrasena" formControlName="contrasena" placeholder="Entre 8-20 carácteres"/>
                                <div *ngIf="registroForm.get('contrasenas').get('contrasena').touched && registroForm.get('contrasenas').get('contrasena').hasError('required')" 
                                    class="help-block" translate>contrasenaRq</div>
                                <div *ngIf="registroForm.get('contrasenas').get('contrasena').dirty && (registroForm.get('contrasenas').get('contrasena').hasError('minlength') 
                                    || registroForm.get('contrasenas').get('contrasena').hasError('maxlength'))" 
                                    class="help-block" translate>errorConLon</div>
                            </div>
                        </div>

                        <div class="form-group" [ngClass]="{ 'has-error': registroForm.get('contrasenas').hasError('notEqual') }">
                            <label for="repContrasena" class="label-required control-label col-sm-4" translate>conRep</label>
                            
                            <div class="col-sm-8">  
                                <input type="password" class="form-control" id="repContrasena" formControlName="repContrasena"/>
                                <div *ngIf="registroForm.get('contrasenas').hasError('notEqual')" class="help-block" translate>errorConRep</div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>

            <div class="clearfix"></div>
            
            <div class="form-group" id="bt-opciones">
                <button type="submit" class="btn btn-success pull-right" id="registro" [disabled]="registroForm.invalid" translate>registroBt</button>
                <a [routerLink]="['/login']" class="btn btn-link pull-right" id="cancelar" translate>cancelar</a>
            </div>
        </form>
    </div>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>