#bt-opciones button, #bt-opciones a {
    margin-bottom: 1%;
}

legend {
    color: #746CA5 !important;
    font-size: medium !important;
}

.registroForm {
    padding-top: 2%;
}

.registroForm > div:first-of-type {
    padding-left: 0;
}

.registroForm > div:last-of-type {
    padding-right: 0;
}

.registro {
    height: 100%;
}