.cabecera {
    display: block;
    position: relative;
}

.cabecera img {
    width: 30em;
}

.enlace-cabecera, .enlace-cabecera:link, .enlace-cabecera:hover {
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

.jumbotron {
    padding: 2% 5%;
    margin: 0;
}

.idioma {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media (max-width: 380px) { 
    .tituloPagina {
        margin-bottom: 50px;
    }
}
