
<div class="jumbotron text-left cabecera">

    <div class="tituloPagina">
        <a class="enlace-cabecera" (click)="inicio()">
            <img [src]="logoPng" (error)="noSupport($event)"
                alt="Statistical Methods and Applications in Biomedical and Social Sciences"
                title="Statistical Methods and Applications in Biomedical and Social Sciences"/>
        </a>
        <h4 translate>grupInvest</h4>
    </div>

    <div class="idioma btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-secondary" [ngClass]="{'active': getLocale()==='es'}">
            <a id="esp" (click)="setLanguage('es')">Español</a>
        </label>
        <label class="btn btn-secondary" [ngClass]="{'active': getLocale()==='en'}">
            <a id="eng" (click)="setLanguage('en')">English</a>
        </label>
    </div>
    
</div>

