<p class="ubicacion"><b>Usted está en:</b> <a (click)="cerrar()">Cuestionarios</a> >> Modelos</p>

<h2>Modelos de {{cuestionario?.Titulo}} <a (click)="mostrarAyuda()" data-toggle="tooltip" title="Pulse para mostrar la ayuda">
        <span class="glyphicon glyphicon-question-sign"></span></a></h2>

<div class="panel panel-info" *ngIf="ayuda">
    <div class="panel-body">
        <p class="justificar">
            Aquí puede ver una lista de los modelos disponibles para el cuestionario escogido, también podrá generar nuevos y previsualizarlos.<br/>
            Recuerde que si actualiza el cuestionario los modelos NO se actualizarán.</p>
        <ul>
            <li>Para <b>crear</b> nuevos modelos, debe indicar si desea variar aleatoriamente el orden de los bloques, las preguntas o los tipos de respuesta dentro de las preguntas en el formulario de la izquierda.</li>
            <li>Para <b>eliminar</b> un modelo, debe seleccionarlo en la tabla a través de la casilla de la izquierda y pulsar el botón eliminar bajo la misma. Si no aparece, significa que es el Modelo 0, es decir el original, y no se puede eliminar desde aquí.</li>
        </ul>
    </div>
</div>

<div class="row centerVertical">
    <div class="col-sm-4">
        <form class="form" (ngSubmit)="fModelos.valid" #fModelos="ngForm" novalidate>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-remove pull-right close" (click)="iniciar()"></span>
                    <span><br/></span>
                </div>
                <div class="panel-body">
                    <h4>Mostrar aleatoriamente:</h4>
                    <div class="checkbox">
                        <label><input type="checkbox" id="bloques" name="bloques" [(ngModel)]="modelo.Orden_Bloques" #bloques="ngModel">Bloques</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="preguntas" name="preguntas" [(ngModel)]="modelo.Orden_Preguntas" #preguntas="ngModel">Preguntas</label>
                    </div>
                    <div class="checkbox">
                        <label><input type="checkbox" id="tipos" name="tipos" [(ngModel)]="modelo.Orden_Tipos" #tipos="ngModel">Tipos de respuesta</label>
                    </div>

                    <div class="text-center">
                        <button id="generarModelo" type="submit" class="btn btn-success" (click)="nuevoModelo()" 
                            [disabled]="!modelo?.Orden_Tipos && !modelo?.Orden_Preguntas && !modelo?.Orden_Bloques">
                            <span class="glyphicon glyphicon-file"></span> Generar nuevo modelo</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
    <div class="col-sm-8">
        <tabla-modelos (onDelete)="eliminarModelo($event)"></tabla-modelos>
    </div>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>