/**
* General
*/
h3 {
    display: inline-block;
}

#cuerpoPagina {
    margin: 1%;
}

/**
* Tabla
*/
ag-grid-angular {
    width: 100%; 
    height: 40vh;
}

.col-xs-1 {
    height: 40vh;
    padding: 0;
}

.col-xs-11 {
    padding-right: 0;
}

.pre-scrollable {
    overflow-y: scroll;
    overflow-x: hidden;
}

/**
* Inputs, links
*/
.close {
    cursor: pointer;
}

.input-bloques {
    margin-right: 2%;
}

.btn-group-vertical {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.btn-group-vertical button {
    border-radius: 0 !important;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.panel-heading a {
    text-decoration: none;
}






