<cabecera [ref]="ref"></cabecera>

<div class="responderCuest container-fluid" style="margin: 1% 5%;">
    <div class="identBlock">
        <div class="center-block panel panel-info">
            <div class="panel-heading">
                <h3><span translate>identInfoT</span> <span class="ident">{{identificador}}</span></h3>
                <p translate>identInfoP</p>
            </div>
        </div>
    </div>

    <h1>{{cuestionario?.Titulo}}</h1>
    <div class="panel panel-default" *ngIf="cuestionario?.Instrucciones || (cuestionario?.ArchivosInstrucciones && cuestionario?.ArchivosInstrucciones.length > 0)">
        <div class="panel-body">
            <div *ngIf="cuestionario?.Instrucciones" class="ql-editor preview" [innerHTML]="cuestionario?.Instrucciones"></div>
            <div *ngIf="cuestionario?.ArchivosInstrucciones && cuestionario?.ArchivosInstrucciones.length > 0">
                <h4 translate>archivos</h4>
                <div *ngFor="let archivo of cuestionario?.ArchivosInstrucciones" >
                    <a class="linkDescargar" (click)="descargarArchivo(archivo)"><span class="download glyphicon glyphicon-save-file"></span> {{archivo?.Filename}}</a>
                    <br/>
                </div>
            </div>
        </div>
    </div>

    <form *ngIf="preguntaActual" [formGroup]="respuestasForm" id="respuestasForm">
        <h3 class="bloqueResponder">{{preguntaActual?.NombreBloque}}</h3>

        <div class="sinPadding col-sm-1">
            <div class="panel panel-info">
                <div class="panel-heading posicionBloque">{{preguntaActual?.Posicion}}</div>
                <div class="panel-body text-muted center">
                    <span class="posicionGlobal" translate [translateParams]="{item: item, total: total}">item</span>
                    <br/>
                    <span class="porcentaje">{{porcentaje}}% <span translate>total</span></span>
                </div>
            </div>
        </div>

        <div class="col-sm-11 pregunta">
            <div class="panel panel-default">
                <div class="enunciado ql-editor preview" [innerHTML]="preguntaActual?.Enunciado"></div>

                <div class="panel-body">
                    <div class="tipoRespuestaDiv" *ngFor="let tipo of preguntaActual?.TiposRespuestas; let k=index">
                        <responder-tipo id="tipo-{{item}}-{{k+1}}" [tipoRespuesta]="tipo" [pregunta]="preguntaActual" [respuesta]="respuestasForm.controls.Respuestas.at(j+k)"></responder-tipo>
                    </div>
                </div>
            </div>
        </div>
    </form>

    <button type="button" id="siguientePregunta" #siguienteBt class="btn btn-primary pull-right options" (click)="siguiente()" *ngIf="i < preguntas?.length-1"
        data-toggle="tooltip" title="{{ 'siguientePh' | translate }}" translate>
        siguienteBt <span class="glyphicon glyphicon-chevron-right"></span></button>

    <button type="button" id="finalizar" class="btn btn-success pull-right options" (click)="finalizar()" *ngIf="i === preguntas?.length-1"
        data-toggle="tooltip" title="{{ 'siguientePh' | translate }}" translate>
        <span class="glyphicon glyphicon-ok"></span> finalizarBt</button>
    
    <button type="button" id="atrasPregunta" #atrasBt class="btn btn-primary pull-right options" (click)="atras()" *ngIf="i > 0"
        data-toggle="tooltip" title="{{ 'atrasPh' | translate }}" translate>
        <span class="glyphicon glyphicon-chevron-left"></span> atrasBt</button>
        
    <button type="button" id="salir" class="btn btn-danger pull-right options" (click)="salir()"
        data-toggle="tooltip" title="{{ 'salirPh' | translate }}" translate>
        <span class="glyphicon glyphicon-remove"></span> salirBt</button>
</div>

<simple-notifications [options]="globals.notificationOptions"></simple-notifications>