<form class="form" #fFrs="ngForm" novalidate>
    <div class="tipo form-horizontal">
        <div class="form-group">
            <label class="col-sm-4 control-label label-required">Obligatoria: </label>
            <div class="col-sm-8">
                <label class="radio-inline">
                    <input class="oblig-si" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="obligatoria" [value]="true" required/> Sí
                </label>
        
                <label class="radio-inline">
                    <input class="oblig-no" type="radio" name="obligatoria" #oblig="ngModel" [(ngModel)]="obligatoria" [value]="false"/> No
                </label>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': min.errors?.max || min.hasError('required') }">
            <label for="min" class="control-label col-sm-4 label-required">Mínimo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="min" name="min" [(ngModel)]="minimo" #min="ngModel" 
                    [max]="maximo-0.01" [attr.max]="maximo-0.01" step="0.01" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="min.errors?.max || min.hasError('required')" class="help-block">Valor mínimo incorrecto</div>
            </div>
        </div>

        <div class="form-group" [ngClass]="{ 'has-error': max.errors?.min || max.hasError('required') }">
            <label for="max" class="control-label col-sm-4 label-required">Máximo:</label>
            <div class="col-sm-8">
                <input type="number" class="form-control" id="max" name="max" [(ngModel)]="maximo" #max="ngModel" 
                    [min]="minimo+0.01" [attr.min]="minimo+0.01" step="0.01" only-numbers [decimales]="true" [negativos]="true" required/>
                
                <div *ngIf="max.errors?.min || max.hasError('required')" class="help-block">Valor máximo incorrecto</div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4 label-required">Valor por defecto:</label>
            <div class="col-sm-4 sinPadding" [ngClass]="{ 'has-error': vda.errors?.min || vda.errors?.max || vda.hasError('required') }">
                <label class="col-sm-1 control-label">a: </label>

                <div class="col-sm-8" style="padding-right: 0;">
                    <input type="number" class="form-control" id="vda" name="vda" [(ngModel)]="valorDefecto[0]" #vda="ngModel" 
                        [min]="minimo" [max]="valorDefecto[1]" [attr.min]="minimo" [attr.max]="valorDefecto[1]" step="0.01" 
                        only-numbers [decimales]="true" [negativos]="true" required data-toggle="tooltip" title="Valor a entre el mínimo y b"/>
                </div>
            </div>
            <div class="col-sm-4 sinPadding" [ngClass]="{ 'has-error': vdb.errors?.min || vdb.errors?.max || vdb.hasError('required') }">
                <label class="col-sm-1 control-label">b: </label>

                <div class="col-sm-8" style="padding-right: 0;">
                    <input type="number" class="form-control" id="vdb" name="vdb" [(ngModel)]="valorDefecto[1]" #vdb="ngModel" 
                        [min]="valorDefecto[0]" [max]="valorDefecto[2]" [attr.min]="valorDefecto[0]" [attr.max]="valorDefecto[2]" step="0.01" 
                        only-numbers [decimales]="true" [negativos]="true" required data-toggle="tooltip" title="Valor b entre a y c"/>                    
                </div>
            </div>
        </div>

        <div class="form-group">
            <label class="control-label col-sm-4"></label>
            <div class="col-sm-4 sinPadding" [ngClass]="{ 'has-error': vdc.errors?.min || vdc.errors?.max || vdc.hasError('required') }">
                <label class="col-sm-1 control-label">c: </label>

                <div class="col-sm-8" style="padding-right: 0;">
                    <input type="number" class="form-control" id="vdc" name="vdc" [(ngModel)]="valorDefecto[2]" #vdc="ngModel" 
                        [min]="valorDefecto[1]" [max]="valorDefecto[3]" [attr.min]="valorDefecto[1]" [attr.max]="valorDefecto[3]" step="0.01" 
                        only-numbers [decimales]="true" [negativos]="true" required data-toggle="tooltip" title="Valor c entre b y d"/>
                </div>
            </div>
            <div class="col-sm-4 sinPadding" [ngClass]="{ 'has-error': vdd.errors?.min || vdd.errors?.max || vdd.hasError('required') }">
                <label class="col-sm-1 control-label">d: </label>

                <div class="col-sm-8" style="padding-right: 0;">
                    <input type="number" class="form-control" id="vdd" name="vdd" [(ngModel)]="valorDefecto[3]" #vdd="ngModel" 
                        [min]="valorDefecto[2]" [max]="maximo" [attr.min]="valorDefecto[2]" [attr.max]="maximo" step="0.01" only-numbers 
                        [decimales]="true" [negativos]="true" required data-toggle="tooltip" title="Valor d entre c y el máximo"/>
                </div>
            </div>
        </div>

        <div class="form-group">
            <label for="tipo" class="control-label col-sm-4 label-required">Tipo:</label>
            <div class="col-sm-8">
                <select class="form-control" id="tipo" name="tipo" [(ngModel)]="optionTipo" #tipo="ngModel" required data-toggle="tooltip" title="Tipo de visualización">
                    <option disabled selected value="null"> -- selecciona un tipo -- </option>
                    <option *ngFor="let clave of claves" [value]="tipos[clave]" id="{{tipos[clave]}}">{{tipos[clave] | capitalize}}</option>
                </select>
            </div>
        </div>
    </div>
</form>