@import "../node_modules/bootstrap/less/bootstrap.less";

@navbar-inverse-bg: darken(#974476, 20%);

@text-color: #384A8F;
@legend-color: #746CA5;
@brand-primary: @text-color;

@input-border-focus: #746CA5;
@dropdown-link-active-bg: @text-color;
@nav-pills-active-link-hover-bg: @text-color;
@nav-tabs-active-link-hover-color: @text-color;
@pagination-color: @text-color;
@panel-default-text: @text-color;

@btn-default-color: @text-color;
@btn-default-border:#D9DAEE;
@btn-primary-bg: @text-color;

@panel-info-border: #D9DAEE;
@panel-info-heading-bg: #D9DAEE;

@jumbotron-bg: lighten(#D9DAEE, 7%);

@link-color: #B66D9F;
@link-hover-color: #974476;
@link-hover-decoration: none;

@font-family-sans-serif: "Geneva","Tahoma","Verdana",sans-serif; 
