@import "~nouislider/distribute/nouislider.min.css";
@import "~dragula/dist/dragula.min.css";

/*
* Generales
*/
html, body, app-root {
    height: 100%;
}

app-root {
    display: flex;
    flex-direction: column;
}

textarea {
    width: 100%;
}

a {
    cursor: pointer;
}

.label-required:after {
    content:"*";
    color:red;
}

/*
* app.componet
*/
.cuerpo {
    flex: 1 0 auto;
    position: relative;
}

/*
* Footer
*/
footer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background: #edeef7;
    clear: both;

    height: 140px;
    min-height: 140px;

    width:100%;
    margin-top: auto;
    flex-shrink: 0;
}

footer div {
    width: 100%;
}

footer .localizacion {
    padding-right: 1%;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: right;
}

footer .informacion {
    text-align: center;
}

#acercaDe {
    padding-right: 3%;
    border-right: 2px dotted #384A8F;
}

#terminos {
    padding-left: 2%;
}

/*
* Ayuda
*/
h2 span.glyphicon-question-sign {
    font-size: 0.5em;
    vertical-align: 5px;
}

.ubicacion {
    text-align: right;
    margin-right: -1.5%;
    color: #974476;
}

/*
* Centrar contenido verticalmente
*/
.centerVertical {
    display: flex !important;
    align-items: center !important;
    flex-wrap: wrap !important;
}

/*
* Perfil
*/
.perfilTabs {
    margin-bottom: 1%;
}

/*
* Cuestionario: Responder
*/
.ident {
    font-weight: bold;
}

.identBlock {
    text-align: center;
}

.identBlock .panel {
    width: 45%;
}

.paginas {
    text-align: center;
}

.paginas li { 
    cursor: pointer;
}

.bloqueResponder {
    display: block;
}

/*
* Cuestionario: Instrucciones
*/
.inputFile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}

.files {
    margin-top: 1%;
}

.download {
    font-size: medium;
}

/*
* Cuestionario: Pregunta
*/
.pregunta {
    padding-right: 0;
}

.pregunta .panel-heading {
    font-size: medium;
}

.posicionBloque {
    text-align: right;
}

.pregunta .ql-editor {
    border-bottom: 1px solid lightgray;
}

/*
* Tipos respuesta: Creacion
*/
.tipo {
    float: none;
    margin: 0 auto;
}

.tiposRespuestaLb {
    text-align: start !important;
    padding-right: 0%;
}

.tiposRespuestaBtAdd {
    padding-left: 0% !important;
}

.tipoRespuestaOpts {
    margin-top: 5%;
}

.tipoRespuestaDiv {
    padding-bottom: 1%;
}

/*
* Tipo respuesta: Ordenar
*/
.ordenar {
    text-align: center;
}

.ordenar_elto {
    width: 30%;
    margin: 0 auto;
    margin-bottom: 1%;
    padding: 1%;
    border: thin solid #e6e6e6;
    border-radius: 8px;

    cursor: move; /* fallback: no `url()` support or images disabled */
    cursor: -webkit-grab; /* Chrome 1-21, Safari 4+ */
    cursor:    -moz-grab; /* Firefox 1.5-26 */
    cursor:         grab;
}

.ordenar_elto:active {
    cursor: -webkit-grabbing;
    cursor:    -moz-grabbing;
    cursor:         grabbing;
}

/*
* Tipo respuesta: Likert
*/
.likert {
    list-style: none;
    width: 100%;
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 0 !important;
}

.likert li {
    vertical-align: top;
    text-align: center;
    flex-grow: 1;
    flex-basis: 0;
}

.likert li input[type=radio] {
    display: block;
    position: relative;
    top: 0;
    left: 50%;
    margin-left: -6px;
}

.likert li label {
    width: 100%;
    font-weight: normal;
}

.likert .radio {
    margin-top: 0;
}

.bar {
    height: 4px;
    width: 100%;
    background: lightgray;
    background: linear-gradient(to right, white, lightgray, white);
    z-index: 0;
    position: relative;
    top:11px;
}

/*
* Tipo respuesta: FRS, Visual analogica, Intervalo
*/
nouislider {
    display: inline-block;
    width: 100%;
    margin: 3% 0 !important;
}

.noUi-connect {
	background: #384A8F;
}

.noUi-handle {
    border-radius: 3px;
    box-shadow: inset 0 0 0 white;
}

.frsForm {
    text-align: center;
    padding-top: 2%;
}

.frsForm .tipo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.frsLb input {
    margin: 0 7px;
}

.frsLb b {
    margin: 0;
    display: block;
}

.frsLb .form-control {
    width: 200px;
}

.frsSlider {
    padding: 0 1%;
}

.frsSlider .noUi-connect {
    background: white;
    box-shadow: inset 0 0 0 white;
}

.frsSlider .noUi-tooltip, .frsForm input  {
    border-color: #384A8F;
}

.frsSlider .noUi-origin:last-of-type .noUi-tooltip, .frsSlider .noUi-origin:first-of-type .noUi-tooltip  {
    top: 33px !important;
    bottom: initial !important;
    border-color: #228b22;
}

.frsForm .form-group:last-of-type input, .frsForm .form-group:first-of-type input {
    border-color: #228b22;
}

.frsContainer2 {
    text-align: center;
}

.frsTrapecio .konvajs-content {
    width: 100% !important;
    display: flex !important;
    justify-content: center !important;
}

.frsTrapecio .konvajs-content canvas {
    position: relative !important;
}

.frsForm .form-group {
    padding-top: 1%;
}

.frsSlider .noUi-handle {
    background: #384A8F;
}

.frsSlider .noUi-origin:first-of-type .noUi-handle, .frsSlider .noUi-base .noUi-origin:last-of-type .noUi-handle{
    background: #228b22;
}

.reiniciar {
    display: inline-block;
    height: 100%;
    width: 100%;
}

@media (max-width: 600px) {
    .frsSlider {
        width: 100%;
    }

    .frsTrapecio1 {
        width: 100%;
    }
}

/*
* Auxiliares
*/
.hide {
    display: none;
}

.center {
    text-align: center;
}

.centerV {
    vertical-align: middle;
}

.justificar {
    text-align : justify;
}

.not-active {
    pointer-events: none;
    cursor: default;
}

.sinPadding {
    padding: 0;
}

/*
* Botones
*/
.guardar {
    margin-left: 2%;
}

.linkDescargar {
    cursor: pointer;
}

.optionsTable {
    margin-top: 1%;
}

.options {
    margin-left: 1%;
}

.link-bt {
    cursor: pointer;
    text-decoration: none;
}

.invisible-bt {
    background:transparent;
    border:none;
    color:transparent;
}

.tabla button {
    margin-top: 2%;
}

/*
* Tablas
*/
.menuCuest p {
    margin: 0;
}

.tablaOrdenar {
    padding-top: 0 !important;
}

td.k-group-cell{
    visibility: collapse;
}

.table-container {
    overflow-x: scroll;
    width: 100%;
}

.tabla {
    text-align:center;
    height: 100%;
}

.ag-root {
    width: 100%; 
    height: 40vh !important;
}

.ag-bl-overlay {
    position: absolute;
    top: 50%;
    left: 50%;
}

.ag-body {
    top: 0 !important;
}

.ag-header-cell-label {
    font-size: medium;
    color: #384A8F !important;
}

.ag-bootstrap {
    font-family: "Geneva","Tahoma","Verdana",sans-serif; 
}

.k-grid {
    font-family: "Geneva","Tahoma","Verdana",sans-serif; 
}

.k-grid td{
    white-space: nowrap;
}

.k-grouping-header {
    display: none !important;
}

.k-grid td, .k-grid th {
    border-style: none;
    padding: 1px;
}

.k-grid-table tr {
    cursor: pointer;
}

.k-block, .k-widget {
    font-size: inherit;
}

.k-grid-header, .k-grid-header-wrap {
    background: inherit;
    border: none;
    padding: 0 !important;
}

.k-group-col {
    width: 0 !important;
}

.k-header {
    font-weight: bold !important;
    font-size: medium;
    color: #384A8F;
}

.k-widget {
    border: none;
}

.k-grouping-row {
    font-style: italic;
    font-size: medium;
    color: #974476;
}

/*
* Loading
*/
.spinner {
    width: 80px;
    height: 80px;
    position: absolute;
    top: 0; bottom: 0; right: 0; left: 0;

    margin: auto;
    background-color: #333;

    border-radius: 100%;  
    -webkit-animation: sk-scaleout 1.0s infinite ease-in-out;
    animation: sk-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes sk-scaleout {
    0% { -webkit-transform: scale(0) }
    100% {
        -webkit-transform: scale(1.0);
        opacity: 0;
    }
}

@keyframes sk-scaleout {
    0% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
        opacity: 0;
    }
}

/*
* Menu lateral
*/
@media (max-width: 1250px) {
    .nav-pills a, .btn-group-vertical button { 
        font-size: 0; 
    }

    .dropdown-menu a {
        font-size: initial; 
    }

    .nav-pills span, .btn-group-vertical span { 
        font-size: medium; 
    }

    .blanco {
        display: none;
    }
}

@media (max-width: 900px) {
    nouislider {
        margin: 20% 0 !important;
    }

    .ordenar_elto {
        width: 100%;
    }
}

@media (max-width: 768px) { 
    .nav-pills a, .nav-pills span { 
        font-size: initial; 
    }

    #addTipo, .edicionTipos {
        margin: 0 2%;
    }

    .pregunta {
        padding-left: 0;
    }

    .instIdent {
        width: 100%;
    }

    footer {
        margin-top: 20px;
        height: 200px;
        min-height: 200px;
    }
}